<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:plus_minus, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:plus_minus, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :plus_minus, url(:plus_minus, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'plus_minus/form', :locals => { :f => f } %>
 <% end %>
</div>
